@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url(Roboto-Regular.ttf);
}


body {
    font-family: Roboto;
    overflow-x: hidden;
    position: relative;
}

/*html {
    height: 100%;
}*/

/*body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}*/

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(Roboto-Bold.ttf);
}

.left {
    padding-left: 140px;
    padding-bottom: 50px;
}

.leftHeading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    margin-top: 40px;
}

.mainHeading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-top: 100px;

}

.mainH2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;

}

.getjb {
    width: 152px;
    height: 42px;
}

.main {
    padding-top: 43px;
    margin-left: -15px;
}

.rb {
    margin-right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-top: 3px;
}

.btn-cat {
    color: #ABABAB;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 6px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 2px;
    margin-bottom: 10px !important;
    text-transform: uppercase;
}

.btn-group .active {
    color: #333;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    box-shadow: none;
}

.searchfield {
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    height: 42px;
    font: 16px;
    margin-left: 15px;
    margin-top: 10px;

    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.bt-gr {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 18px;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.getj {
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    height: 42px;
    color: white;
    padding: 10px 40px;
    font: bold;
    margin-left: 15px;
    margin-top: 30px;
}


.right {
    background: #F8F8F8;

    transition: 0.5s;
}

.h100 {
    min-height: 100vh;
}

.rHeading {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
    margin-top: 40px;
    margin-left: 40px;
}

.hidden {
    display: none;

}

.joke {
    background: #F8F8F8;
    border-radius: 20px;
    margin-left: 10px;
    padding-top: 60px;
    margin-top: 40px;
}

.iconlikeactive {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
}

.iconwrap {
    border-radius: 100%;
    background: white;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 40px;
}

.icon {
    margin-top: 10px;
    margin-left: 10px;
}

.id {

    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    color: #ABABAB
}

.jokehref {
    font-weight: normal;
}

.joketxt {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

}

.jokedate {
    font-size: 10px;
    line-height: 14px;
    display: inline-block;
    margin-top: 28px;
    color: #ABABAB;
}

.jokecat {
    background: #FFFFFF;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0px;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #333333;
    padding: 6px 20px;
}

.jokeRight .joke {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 40px;
}

.jokeRight .iconwrap {
    margin-top: 0;
    margin-left: 10px;
}

.jokeRight .row-r {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.jokeRight .iconlikeactive {
    top: 20px;
    right: 20px;

}

.jokeRight .jokedate {
    margin-top: 20px;
}

.jokeRight .jokecat {
    background: #F8F8F8;
}

.favourite {
    display: inline-block;
    color: #ABABAB;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
    vertical-align: middle;
    margin-left: 5px;
}

.favouritebutton {
    position: absolute;
    display: none;
    z-index: 2;
    top: 40px;
    right: 40px;
}

.disabled {
    display: none;
}

.right-hover {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 50%;
    background: #000;
    height: 100%;
    width: 100%;
}

@media (max-width:1100px) {
    .h100 {
        height: auto;
    }

    .left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .favouritebutton {
        display: block;
    }

    .left {
        padding-left: 40px;
    }
    /*.disabledr{
        display: none;
    }*/
    .right {
        
        -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        /*max-width: 55%;*/
        position: absolute;
        
        opacity: 0;
        display: none;
        z-index: 1;
        left: 100%;
        padding-top: 88px;
        
    }

    /* .row,
    .left .h100{
        height: auto;
    }*/

    .jokeRight .jokedate {
        margin-top: 0;
    }

    .rHeading {
        display: none;
    }

    .right .joketxt {
        font-size: 14px;
        line-height: 20px
    }
    .rop{
        opacity: 100%;
        left: 45%;
    }
    .ractive {
display: block;
       /*opacity: 100%;*/
        /*left: 45%;*/
        min-height: 100%;
    }
}

@media (max-width: 580px){
    .searchfield{
        margin: 0;
    }
    .rop{
        left: 0;
    }
    .left{
        padding-left: 20px;
        padding-right: 20px;
    }
    .iconwrap{
        margin-left: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
